@CHARSET "UTF-8";

body {
	padding-top: 30px;
	padding-bottom: 100px;
}

#welcome {
	padding-top: 30px;
}

/*
 * Cancel out the navbar padding in the welcome page
 */
#welcome section {
	margin-top: -60px;
	padding-top: 60px;
}